.intro-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: black;
	color: white;
}

.intro-modal {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: 100px;
}

.intro-modal__text {
	margin: 0;
	width: auto;
	background-color: gray;
	display: inline-block;
	padding: 15px 15px;
	background: rgb(219, 219, 219);
	background: radial-gradient(circle, rgba(219, 219, 219, 1) 35%, rgba(140, 120, 120, 1) 100%, rgba(252, 176, 69, 1) 100%);
	color: black;
	border-radius: 10px;
}

.intro-modal__text--hello {
	position: absolute;
	top: 75px;
}

.intro-modal__text--sound {
	position: absolute;
	top: 240px;
}

.hide {
	opacity: 0;
}

.intro-modal__hints {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 380px;
}

.button-continue {
	position: fixed;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 320px;
	padding: 10px 10px;
	background: radial-gradient(50% 50% at 50% 50%, rgb(18, 60, 106), rgb(4, 12, 21) 100%);
	transition: transform 1s ease;
	color: white;
	text-transform: uppercase;
}

.button-continue:hover {
	transform: translateX(-50%) scale(1.2);
	cursor: pointer;
}

.video-box {
	position: absolute;
	top: 20px;
}

.video-box--mobile {
	position: absolute;
	top: 200px;
}

.video {
	border: 2px solid red;
	width: 100%;
	height: auto;
}

@keyframes fromOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.opacity-full {
	opacity: 0;
	animation: ani 2.5s forwards;
}

.to-opacity-null {
	opacity: 1;
	animation: fromOpacity 2s easy;
}
