@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
	position: absolute;
	right: 250px;
}

.list {
	display: flex;
	flex-direction: column-reverse;
	color: $color-text-on-dark;
	padding: 0;
	margin: 0;
	list-style: none;
}

.item_active {
	background-color: $color-accent-gold;
}

@include breakpoint-down($mobile-width) {
	.wrapper {
		top: 10px;
		right: 50px;
		font-size: 15px;
	}
}

@include breakpoint-down($trully-mobile-width) {
	.wrapper {
		top: 290px;
		left: 50%;
		transform: translate(-50%, 0);
		height: 40px;
		overflow: hidden;
	}

	.list {
		flex-direction: column;
	}
}
